.cartbooks__inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 150px;
  row-gap: 50px;
  // justify-content: space-between;
}

.cart {
  display: flex;

}

.btn-basket {
  background: url("../../assets/Icons/AddInBasket.svg");
  width: 25px;
  height: 25px;
}

.btn-inbasket {
  background: url("../../assets/Icons/InBasket.svg");
  width: 25px;
  height: 25px;
}

.btn-like {
  background: url("../../assets/Icons/Like.svg");
  width: 25px;
  height: 25px;
  // margin-bottom: 20px;
}

.btn-like1 {
  background: url("../../assets/Icons/Like1.svg");
  width: 23px;
  height: 23px;
  // margin-bottom: 20px;
}

.cart__buttons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 20px;
}

.cartbook-btn {
  margin-bottom: 20px;
}

.book-img {
  width: 210px;
  height: 300px;
}

.book__name,
.book__author,
.book__price {
  width: 210px;
  // font-family: Garamond;
}

.book__name {
  font-size: 25px;
  font-weight: 50;
}

.book__author {
  opacity: 50%;
  font-size: 15px;
}

.book__price {
  font-size: 18px;
  margin: 5px 0;
}