.main__page {
  align-items: center;
  margin-bottom: 110px;
}

.main__page-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  p {
    width: 700px;
    height: 216px;
    flex-shrink: 0;

    font-family: Goudy Bookletter 1911;
    font-size: 20px;
    font-style: normal;
    font-weight: 50;
    line-height: 27px;
    color: white;
  }

}

.main__page-btn {
  width: 180px;
  height: 50px;
  background-color: rgba(241, 241, 213, 1);
  border-radius: 20px;
  color: #000;
  font-family: Goudy Bookletter 1911;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin: auto;
  margin-top: 30px;
}